{% extends './base.html' %}
{% load static %}
{% block body %}
<!doctype html>
<html lang="en">

<body id="top">



  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->


    <!-- HOME -->
    <section class="section-hero overlay inner-page bg-image"
      style="background-image: url('{% static 'images/hero_1.jpg' %}');" id="home-section">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h1 class="text-white font-weight-bold">{{job.title}}</h1>
            <div class="custom-breadcrumbs">
              <a href="{% url 'app1:home' %}">Home</a> <span class="mx-2 slash">/</span>
              <a href="{% url 'app1:list_jobs' %}">Job</a> <span class="mx-2 slash">/</span>
              <span class="text-white"><strong>{{job.title}}</strong></span>
            </div>
          </div>
        </div>
      </div>
    </section>


    <section class="site-section">
      <div class="container">
        <div class="row align-items-center mb-5">
          <div class="col-lg-8 mb-4 mb-lg-0">
            <div class="d-flex align-items-center">
              <div class="border p-2 d-inline-block mr-3 rounded">
                <img src="{{job.logo.url}}" alt="Image" width="80px" height="80px">
              </div>
              <div>
                <h2>{{job.title}}</h2>
                <div>
                  <span class="ml-0 mr-2 mb-2"><span class="icon-briefcase mr-2"></span>{{job.company_name}}</span>
                  <span class="m-2"><span class="icon-room mr-2"></span>{{job.location}}</span>
                  <span class="m-2"><span class="icon-clock-o mr-2"></span><span class="text-primary">
                      {{job.get_type_display}}</span></span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
          </div>
        </div>
        <div class=" row">
                  <div class="col-lg-8">
                    <div class="mb-5">
                      <h3 class="h5 d-flex align-items-center mb-4 text-primary"><span
                          class="icon-align-left mr-3"></span>Job
                        Description</h3>
                      <p style="word-wrap:break-word;"> {{job.description}}</p>
                    </div>
                    <!-- if the user is posted this job -->
                    {% if not job.user == request.user %}
                    <div class="row mb-5">
                      {% if is_favorite %}
                      <div class="col-6">
                        <a href="{% url 'app1:remove_favorite' pk=job.id %}" class="btn btn-block btn-light btn-md"><span
                            class="icon-heart mr-2 text-danger"></span>Remove From Favorite</a>
                      </div>
                      {% else %}
                      <div class="col-6">
                        <a href="{% url 'app1:favorite' pk=job.id %}" class="btn btn-block btn-light btn-md"><span
                            class="icon-heart-o mr-2 text-danger"></span>Favorite</a>
                      </div>
                      {% endif %}
                      <div class="col-6">
                        {% if not applied %}
                        <a href="{% url 'app1:apply' pk=job.id %}" class="btn btn-block btn-primary btn-md">Apply
                          Now</a>
                        {% else %}
                        <a href="{% url 'app1:delete_application' pk=job.id %}"
                          class="btn btn-block badge-danger btn-md">Delete Application</a>
                        {% endif %}
                      </div>
                    </div>
                  {% else %}
                  <div class="row mb-5">
                    <div class="col-6">
                      <a href="{% url 'app1:delete_job' pk=job.id %}" class="btn btn-block btn-outline-danger btn-md">Delete</a>
                    </div>
                    <div class="col-6">
                      <a href="{% url 'app1:post_edit_job' pk=job.id %}" class="btn btn-block btn-primary btn-md">Edit</a>
                      </div>
                  </div>
                  {% endif %}
                  </div>
                  <div class="col-lg-4">
                    <div class="bg-light p-3 border rounded mb-4">
                      <h3 class="text-primary  mt-3 h5 pl-3 mb-3 ">Job Summary</h3>
                      <ul class="list-unstyled pl-3 mb-0">
                        <li class="mb-2"><strong class="text-black">Followers:</strong> {{job.favorite_jobs.count}}</li>
                        <li class="mb-2"><strong class="text-black">Applications:</strong> {{job.applications.count}}</li>
                        <li class="mb-2"><strong class="text-black">Published on:</strong> {{job.published_on}}</li>
                      </ul>
                    </div>

                    <div class="bg-light p-3 border rounded">
                      <h3 class="text-primary  mt-3 h5 pl-3 mb-3 ">Share</h3>
                      <div class="px-3">
                        <a href="#" class="pt-3 pb-3 pr-3 pl-0"><span class="icon-facebook"></span></a>
                        <a href="#" class="pt-3 pb-3 pr-3 pl-0"><span class="icon-twitter"></span></a>
                        <a href="#" class="pt-3 pb-3 pr-3 pl-0"><span class="icon-linkedin"></span></a>
                        <a href="#" class="pt-3 pb-3 pr-3 pl-0"><span class="icon-pinterest"></span></a>
                      </div>
                    </div>

                  </div>
              </div>
            </div>
    </section>


</body>

</html>
{% endblock body %}